body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }
/* Adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
      font-size: 3em;
      top: 10%;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 2em;
      top: 5%;
  }
}